body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/rishabh-pandoh-m1PFxGQ-5x0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none !important;
    color: white !important;
}

a.nav-link:hover {
    text-decoration: underline !important;
}

.cover-container {
    max-width: 60vw;
}

.btn-secondary {
    font-weight: 500 !important;
    color: #333 !important;
    text-shadow: none;
}
.btn-secondary:hover {
    transform: scale(1.01);
    color: #000 !important;
}